@umax:registry=https://gitlab.maximumtest.ru/api/v4/packages/npm/
//gitlab.maximumtest.ru/api/v4/packages/npm/:_authToken=PuqTseJEUbgmUrsP5CyJ
//gitlab.maximumtest.ru/api/v4/projects/299/packages/npm/:_authToken=PuqTseJEUbgmUrsP5CyJ
